body{
    background-color: #ffffff;
    font-family: 'Jost', sans-serif;
}

.nav-link{
   font-size: 18px;
   font-weight: 500;
   color: black;
}

.nav-item{
    margin-right: 40px;
}
.banner-subtitl{
    color: #7153d9;
    font-size: 24px;
    font-weight: 500;
}
.banner-title{
    font-size: 72px;
    font-weight: 700;
}
.bannar-text{
    color: #54545f;
    font-size: 24px;
    font-weight: 400;
}
.banner-btn{
    text-decoration: none;
    color: white;
    background: linear-gradient(135deg, #7153d9 0%, #5435be 45%, #4526b1 66%);
    padding: 15px 40px;
    border-radius: 40px;

}
