body{
    font-family: 'Jost', sans-serif;
}

.banner-bg{
    background-color: #E9EDf4;

}

.nav-link{
   font-size: 18px;
   font-weight: 500;
   color: black;
}

.nav-item{
    margin-right: 40px;
}
.banner-subtitl{
    color: #7153d9;
    font-size: 24px;
    font-weight: 500;
}
.banner-title{
    font-size: 72px;
    font-weight: 700;
}
.bannar-text{
    color: #54545f;
    font-size: 24px;
    font-weight: 400;
}
.banner-btn{
    text-decoration: none;
    color: white;
    background: linear-gradient(135deg, #7153d9 0%, #5435be 45%, #4526b1 66%);
    padding: 15px 40px;
    border-radius: 40px;

}

.navbar-fixed-top {
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-active{
    background-color: #fff;
    box-shadow: 5px -1px 12px -5px grey;
    padding-top: 15px;
    padding-bottom: 15px;
}

.feature-icon{
    height: 98px;
    max-width: 98px;
    width: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    background-color: #f2f5fb;
}
.feature-text{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #54545f;
    line-height: 1.666;
    margin-bottom: 0;
}

.seperator{
    width: 2% !important;
}